@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$primarybtn : #2500f9;
$secondry : #242f51;
$paragraph: #616368 ;
$footer : #2626ff;
$font-family: 'Poppins', sans-serif;
$headersize :1.83rem;
$Titresize:5rem;
$btnfont-size:1.33rem;
$service-font:3.33rem;
$logofont-size:2.5rem;