// Import partial files
@import 'variables';
@import 'header';
@import "btn";
body{
  font-family: $font-family;
}
#title{
  margin: 11%;
  font-size: 60px;
  font-weight: 600;
  color: $secondry;
}
#para{
  margin-top: -10%;
  margin-left: 11%;
  font-size: 22px;
  font-weight: 300;
  color: $secondry;
}